// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// NProgress
@import '~nprogress/nprogress.css';

body {
    padding: 60px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid__item {
    background-color: #eee;
    width: auto;
    min-height: auto;
    border: 1px solid #ddd;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.grid__item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Custom NProgress CSS */
#nprogress .bar {
    background: red;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red;
}

#nprogress .spinner-icon {
    width: 50px;
    height: 50px;
    border-top-color: red;
    border-left-color: red;
}

/* Flash message */
.flash-container {
    position: absolute;
    top: 0;
    left: 50%;

    .flash-body {
        position: relative;
        left: -50%;
        padding: 5px 20px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 3px 2px 3px rgb(0 0 0 / 40%);
        color: #fff;

        &.flash-danger {
            background-color: #ff0000;
        }

        &.flash-success {
            background-color: green;
        }
    }
}

