// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding: 60px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid__item {
    background-color: #eee;
    width: auto;
    min-height: auto;
    border: 1px solid #ddd;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.grid__item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
